@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Jersey+25&display=swap');

$jersey-25: "Jersey 25", sans-serif;
$jersey-20: "Jersey 20", sans-serif;
$jersey-15: "Jersey 15", sans-serif;
$jersey-10: "Jersey 10", sans-serif;

$main-dark:#381415;
$main-light:#F4E0B3;
$white:#edebe8;

$width-no-slider:calc(100vw - 17px);