.content-wrapper{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: calc(100vw - 17px);
    z-index: 200;
    padding: 120px 80px;
    box-sizing: border-box;

    .content{
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 99;

        &__item{
            position: absolute;
        }
    }
}