.landing{
    // border: solid 5px red;
    width: calc(100vw - 17px);
    overflow: hidden;
    position: relative;

    &__ui{
        // background: rgba($color: red, $alpha: 0.2);
        position: absolute;
        padding: 120px 80px;
        box-sizing: border-box;
        bottom: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: #391415;
    }

    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__cta{
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__parallax{
        // border: 2px solid blue;
        width: 1800px;
        height: 9000px;
        position: relative; 
        @media screen and (min-width:1800px) {
            width: calc(100vw - 17px);
        }

        &__item{
        position: absolute;
        bottom: 0;
        width: 100%;
        }
    }
}